@font-face {
    font-family: "VCR OSD";
    src: url("/VCR_OSD_MONO.ttf") format("truetype");
}

* {
    font-family: "VCR OSD";
    color: rgba(200, 200, 200, 1);
}

html, body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    background: rgba(20, 20, 20, 1);
}

button {
    outline: none;
    border: none;
}